<div class="jumbotron">
  <h1>Edit group details</h1>
  
  <%= render 'form' %>
</div>

<script>
    $(document).ready(function(){
        setbackground("<%= get_background(@group.id) %>");
    });
</script>