<script>changetofriends()</script>
<div class="jumbotron">
  <h1 class="fancy-header">Create a new group!</h1>
  <h2 class="fancy-sub-header">Create a group of your friends, your family, or whatever you want it to be!</h2>

  <%= render 'form' %>
</div>

